@import 'colors.css';

@define-color bg #23272e;
@define-color bgd #1e2227;
@define-color fg #abb2bf;


/* Pamac */

window, row, button {
  border-radius: 4px;
}

entry {
  border-radius: 4px;
}

window {
  background: @bgd;
  color: @fg;
}

list {
  background: @bg;
  color: @fg;
}
