
@-moz-document url-prefix("chrome:") {
  body {
    font-family: Segoe, system-ui, sans-serif !important;
    font-size: 13px !important;
  }

  tooltip,
  #identity-box,
  #identity-icon-label,
  #reader-mode-button,
  #tab-preview-panel,
  #tracking-protection-icon-container,
  #unified-extensions-button,
  #zen-current-workspace-indicator,
  #zen-current-workspace-indicator-container,
  #zen-sidebar-bottom-buttons,
  #zen-sidebar-icons-wrapper {
    display: none !important;
  }

  #tabbrowser-tabs[orient="vertical"] {
    &:not([expanded]) {
      & .tab-close-button {
          display: none !important;
      }
    }
  }

  #urlbar #urlbar-background {
    background: Canvas !important;
  }

  .toolbarbutton-1 {
    fill: CurrentColor !important;
  }

  .findbar-textbox {
    background: hsl(0 0 0 / .05) !important;
    border: 1px solid hsl(100 100 100 / .1) !important;

    &:focus {
      background: hsl(0 0 0 / .05) !important;
      border: 1px solid hsl(100 100 100 / .15) !important;
    }
  }
}
