# Tema para o Dialog.
# Salvar este arquivo como $HOME/.dialogrc
# ou definir a variável $DIALOGRC

# screen
use_colors   = on
use_shadow   = off
screen_color = (white, black, on)

# box
dialog_color  = (white, black, off)
border_color  = (white, black, off)
border2_color = border_color

# title
title_color = (white, black, off)

# button
button_inactive_color       = (white, black, off)
button_key_inactive_color   = button_inactive_color 
button_label_inactive_color = button_inactive_color 
button_active_color         = (black, white, off)
button_key_active_color     = button_active_color 
button_label_active_color   = button_active_color 

# input
inputbox_color        = (green, black, on)
inputbox_border_color = (green, black, on)

# textbox
searchbox_color          = (green, black, on)
searchbox_title_color    = (green, black, off)
searchbox_border_color   = (green, black, off)
position_indicator_color = (black, green, off)

# menu box
menubox_color          = (green, black, off)
menubox_border_color   = (green, black, off)

# menu window
item_color             = (green, black, off)
item_selected_color    = (black, green, off)
tag_color              = (green, black, off)
tag_selected_color     = (black, green, off)
tag_key_color          = (green, black, off)
tag_key_selected_color = (black, green, off)
check_color            = (green, black, off)
check_selected_color   = (black, green, off)
uarrow_color           = (green, black, on)
darrow_color           = (green, black, on)

# menu item help
itemhelp_color         = (green, black, on)

# links
# https://askubuntu.com/questions/598938/what-setting-controls-this-feature-in-my-dialogrc-file
