#!/usr/bin/env bash

br="bspc rule -a"

$br firefox           desktop="^1" focus=on follow=on
$br zen               desktop="^1" focus=on follow=on
$br code              desktop="^2" focus=on
$br kitty             desktop="^2" focus=on follow=on
$br dolphin           desktop="^3" focus=on
$br thunar            desktop="^3" focus=on
$br bitwarden-desktop desktop="^4" focus=on
$br keepassxc         desktop="^4" focus=on
$br steam             desktop="^4" state=floating
$br qBittorrent       desktop="^6" focus=on
$br conky                          border=off state=floating 
$br godot                          state=floating 
$br mpv                            state=floating 
$br pavucontrol                    state=floating
$br Screenkey                      manager=off
