! general
*background: #282c34
*foreground: #abb2bf
*accentColor: #282c34
*urgentColor: #282c34
*font: BlexMono Nerd Font-11

! black
*color0: #282c34 
*color8: #282c34 

! red
*color1: #282c34
*color9: #282c34 

! green
*color2: #282c34
*color10: #282c34 

! yellow
*color3: #282c34
*color11: #282c34 

! blue
*color4: #282c34
*color12: #282c34 

! magenta
*color5: #282c34
*color13: #282c34 

! cyan
*color6: #282c34
*color14: #282c34 

! white
*color7: #282c34
*color15: #282c34 
