@import 'colors.css';
@import 'xfce4-panel.css';

/* Nemo */

.nemo-window separator {
  background: #2c313c;
}

.nemo-window .primary-toolbar {
  background: #23272e;
}

.nemo-window .primary-toolbar entry {
  border-color: #2c313c;
}

.nemo-window .primary-toolbar entry:focus {
  border-color: #3d4556;
}

.nemo-window .sidebar scrolledwindow.frame {
  border: none; /* Removed treeview double borders */
}

/* Thunar */

.thunar entry,
.thunar separator,
.thunar .sidebar,
.thunar .standard-view {
  border-color: transparent;
}

/* Remove border frame */

.thunar .frame  {
   border: none;
}

/* Hidden menu button */

.thunar toolbutton:first-child image {
  opacity: 0;
}

.thunar toolbar entry {
  margin-left: -36px;
  border-color: #2c313c;
}

.thunar toolbar entry:focus {
  border-color: #3d4556;
}

.thunar separator {
  background: #2c313c;
}

/* Tooltip */

tooltip {
  opacity: 0;
}

/* Terminal */

VteTerminal, vte-terminal {
  padding: 8px;
}
