.panel {
  background: #1e2227;
  border-top: 1px solid #2c313c;
}

.panel button {
  background: transparent;
  margin-top: 1px;
  border: none;
  border-radius: 0;
}

.panel button:hover,
.panel button:checked {
  background: rgba(255, 255, 255, .05);
}

.panel #xfce-panel-toggle-button {
  border-top: 3px solid transparent;
  border-top: 3px solid transparent;
  margin-right: 1px;
  padding: 0 4px;
  color: rgba(255, 255, 255, .4);
}

.panel #xfce-panel-toggle-button:hover {
  background: rgba(255, 255, 255, .05);
}

.panel #xfce-panel-toggle-button:checked {
  border-top: 3px solid #5c6370;
  background: #23272e;
  color: rgba(255, 255, 255, .6);
}

.panel #clock-button {
  padding: 0 8px;
}
