@import 'colors.css';

/* General */

/* Hidden tooltip */

tooltip {
  opacity: 0;
}

/* Nemo */

.nemo-window separator {
  background: #2c313c;
}

.nemo-window .primary-toolbar {
  background: #23272e;
}

/* Thunar */

/* Hidden menu button */

.thunar toolbutton:first-child image {
  opacity: 0;
}

.thunar toolbar entry {
  margin-left: -36px;
  border-color: #2c313c;
}

/* Line separator */

.thunar separator {
  background: #2c313c;
}

/* Xfce Panel */

.panel {
  background: #1e2227;
  border-top: 1px solid #2c313c;
}

.panel button {
  background: transparent;
  margin-top: 1px;
  border: none;
  border-radius: 0;
}

.panel button:hover,
.panel button:checked {
  background: rgba(255, 255, 255, .05);
}

.panel #xfce-panel-toggle-button {
  border-top: 3px solid transparent;
  border-top: 3px solid transparent;
  margin-right: 1px;
  padding: 0 4px;
  color: rgba(255, 255, 255, .4);
}

.panel #xfce-panel-toggle-button:hover {
  background: rgba(255, 255, 255, .05);
}

.panel #xfce-panel-toggle-button:checked {
  border-top: 3px solid #5c6370;
  background: #23272e;
  color: rgba(255, 255, 255, .6);
}

.panel #clock-button {
  padding: 0 8px;
}

/* Xfce Terminal */

VteTerminal, vte-terminal {
  padding: 8px;
}
