Notification {
  background: palette(base);
  border: 1px solid #2c313c;
}

QLabel {
  color: palette(text);
}

#closeButton {
  margin: 4px;
  padding: 4px;
  qproperty-icon: url(lxqt-notificationd/window-close.svg);
}

#closeButton:hover {
  background: #2c313c;
}

#appLabel {
  font-weight: normal;
}

/* vim:ft=css */
