:root {
  --shade0: #23272e;
  --shade1: #1e2227;
  --shade2: #3d4556;
  --shade3: #5c6370;
  --shade4: #2c313c;
  --shade5: #828997;
  --shade6: #979eab;
  --shade7: #abb2bf;
  --accent0: #e06c75;
  --accent1: #d19a66;
  --accent2: #e5c07b;
  --accent3: #98c379;
  --accent4: #56b6c2;
  --accent5: #61afef;
  --accent6: #c678dd;
  --accent7: #be5046;

  --arrowpanel-border-radius: 2px !important;
  --arrowpanel-menuitem-border-radius: 2px !important;
  --arrowpanel-border-color: var(--shade2) !important;
  --card-outline-color: var(--shade5) !important;
  --button-hover-bgcolor: var(--shade2) !important;
	--dialog-warning-text-color: var(--accent0) !important;
	--in-content-page-background: var(--shade1) !important;
	--in-content-page-color: var(--shade7) !important;
	--in-content-deemphasized-text: var(--shade6) !important;
	--in-content-box-background: var(--shade1) !important;
	--in-content-box-background-odd: var(--shade0) !important;
	--in-content-box-info-background: var(--shade3) !important;
	--in-content-border-color: var(--shade2) !important;
	--in-content-border-hover: var(--shade3) !important;
	--in-content-border-invalid: var(--accent0) !important;
	--in-content-error-text-color: var(--accent0) !important;
	--in-content-button-background: var(--shade0) !important;
	--in-content-button-background-hover: var(--shade2) !important;
	--in-content-button-background-active: var(--shade2) !important;
	--in-content-icon-color: var(--shade7) !important;
	--in-content-primary-button-text-color: var(--shade7) !important;
	--in-content-primary-button-background: var(--accent5) !important;
	--in-content-primary-button-background-hover: var(--accent5) !important;
	--in-content-primary-button-background-active: var(--accent4) !important;
	--in-content-danger-button-background: var(--accent0) !important;
	--in-content-danger-button-background-hover: #ffbdc5 !important;
	--in-content-danger-button-background-active: #ffdfe7 !important;
	--in-content-table-background: var(--shade0) !important;
	--in-content-accent-color: var(--in-content-primary-button-background) !important;
	--in-content-accent-color-active: var(--in-content-primary-button-background-hover) !important;
	--in-content-link-color: var(--in-content-primary-button-background) !important;
	--in-content-link-color-hover: var(--in-content-primary-button-background-hover) !important;
	--in-content-link-color-active: var(--in-content-primary-button-background-active) !important;
	--in-content-link-color-visited: var(--in-content-link-color) !important;
  --panel-item-hover-bgcolor: var(--shade2) !important;
  --panel-separator-color: var(--shade2) !important;
  --tab-block-margin: 0 !important;
  --tab-border-radius: 2px !important;
  --tab-min-height: 28px !important;
  --toolbarbutton-border-radius: 2px !important;
}

body {
  font-family: Segoe, sans-serif !important;
  font-size: 13px !important;
}

/* hide space init tab */
.titlebar-spacer {
	display: none !important;
}

/* hide window control buttons */
.titlebar-buttonbox-container {
  display: none !important;
}

#navigator-toolbox-background {
  background: var(--shade1) !important;
}

#titlebar, #PersonalToolbar {
  background: var(--shade1) !important;
}

#navigator-toolbox {
  border: none !important;
}

/* nav-bar */
#nav-bar {
  background: var(--shade4) !important;
  box-shadow: none !important;
}

/* tab */
#TabsToolbar {
  height: 32px !important;
}

.tabbrowser-tab {
  height: 32px !important;
}

.tabbrowser-tab .tab-content {
  color: var(--shade3) !important;
}

:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs {
  border-inline-start: none !important;
  padding-inline-start: 0 !important;
  margin-inline-start: 0 !important;
}

/* tab hover background */
.tabbrowser-tab:hover .tab-background {
  background: var(--shade4) !important;
}

/* tab active background */
.tabbrowser-tab[visuallyselected="true"] .tab-background {
  background: var(--shade4) !important;
} 

/* tab hover color */
.tabbrowser-tab:hover .tab-content {
  color: var(--shade5) !important;
}


/* tab active color */
.tabbrowser-tab[visuallyselected="true"] .tab-content {
  color: #c4cbd8 !important;
}

/* hover new tab button - 25% light shade7 */
#tabs-newtab-button:hover {
  color: var(--shade4) !important;
}

/* hover new tab button icon */
#tabs-newtab-button:hover .toolbarbutton-icon {
  fill: var(--shade7) !important;
}

/* bookmarks toolbar */
#PlacesToolbar {
  background: var(--shade4);
}

/* hide import button */
#import-button {
  display: none !important;
}

/* urlbar */

/* remove background if not hover
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  background: none !important;
  box-shadow: none !important;
}
*/

#urlbar {
  padding-left: 8px !important;
  box-shadow: none !important;
}

#urlbar[breakout] {
  min-height: 20px !important;
}

/* url background */
#urlbar-background {
  background: var(--shade1) !important;
  border: none !important;
}

/* remove shadow */
#urlbar-container {
  box-shadow: none !important;
}

#urlbar-container[breakout] {
  min-height: var(--urlbar-container-height) !important;
}

/* hide search site list */
#urlbar .search-one-offs:not([hidden]) {
  display: none !important;
}

/* hide all tabs buttons */
#alltabs-button {
	display: none !important;
}

/* hide icon search */
#identity-box {
  display: none !important;
}

/* hide icon shield */
#tracking-protection-icon-container {
  display: none !important;
}

/* remove padding tabs */
.tabbrowser-tab {
  padding: 0 !important;
}

/* hide icon new tab */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
  color: var(--shade5) !important;
}

/* show close button on hover */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: block !important;
}

/* hide icon reader */
#urlbar-container #reader-mode-button {
  display: none !important;
}

/* hide icon bookmarks */
#urlbar-container #star-button {
  display: none !important;
}


#urlbar-container #star-button[starred] {
 fill: var(--shade3) !important;
}

/* show icons when urlbar hover */
#urlbar-container:hover #star-button,
#urlbar-container:hover #reader-mode-button {
  display: block !important;
}

/* bookmarks */
#personal-toolbar-empty-description,
#PersonalToolbar .toolbarbutton-1,
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin: 2px 4px 4px 4px !important;
  padding: 4px 8px !important;
}