:root {
  --shade0: #23272e;
  --shade1: #1e2227;
  --shade2: #3d4556;
  --shade3: #5c6370;
  --shade4: #2c313c;
  --shade5: #828997;
  --shade6: #979eab;
  --shade7: #abb2bf;
  --accent0: #e06c75;
  --accent1: #d19a66;
  --accent2: #e5c07b;
  --accent3: #98c379;
  --accent4: #56b6c2;
  --accent5: #61afef;
  --accent6: #c678dd;
  --accent7: #be5046;

  --arrowpanel-border-radius: 2px !important;
  --arrowpanel-menuitem-border-radius: 2px !important;
  --arrowpanel-border-color: var(--shade2) !important;
  --card-outline-color: var(--shade5) !important;
  --button-hover-bgcolor: var(--shade2) !important;
  --dialog-warning-text-color: var(--accent0) !important;
  --in-content-page-background: var(--shade1) !important;
  --in-content-page-color: var(--shade7) !important;
  --in-content-deemphasized-text: var(--shade6) !important;
  --in-content-box-background: var(--shade1) !important;
  --in-content-box-background-odd: var(--shade0) !important;
  --in-content-box-info-background: var(--shade3) !important;
  --in-content-border-color: var(--shade2) !important;
  --in-content-border-hover: var(--shade3) !important;
  --in-content-border-invalid: var(--accent0) !important;
  --in-content-error-text-color: var(--accent0) !important;
  --in-content-button-background: var(--shade0) !important;
  --in-content-button-background-hover: var(--shade2) !important;
  --in-content-button-background-active: var(--shade2) !important;
  --in-content-icon-color: var(--shade7) !important;
  --in-content-primary-button-text-color: var(--shade7) !important;
  --in-content-primary-button-background: var(--accent5) !important;
  --in-content-primary-button-background-hover: var(--accent5) !important;
  --in-content-primary-button-background-active: var(--accent4) !important;
  --in-content-danger-button-background: var(--accent0) !important;
  --in-content-danger-button-background-hover: #ffbdc5 !important;
  --in-content-danger-button-background-active: #ffdfe7 !important;
  --in-content-table-background: var(--shade0) !important;
  --in-content-accent-color: var(--in-content-primary-button-background) !important;
  --in-content-accent-color-active: var(--in-content-primary-button-background-hover) !important;
  --in-content-link-color: var(--in-content-primary-button-background) !important;
  --in-content-link-color-hover: var(--in-content-primary-button-background-hover) !important;
  --in-content-link-color-active: var(--in-content-primary-button-background-active) !important;
  --in-content-link-color-visited: var(--in-content-link-color) !important;
  --panel-item-hover-bgcolor: var(--shade2) !important;
  --panel-separator-color: var(--shade2) !important;
  --tab-block-margin: 0 !important;
  --tab-border-radius: 0 !important;
  --tab-min-height: 28px !important;
  --toolbarbutton-border-radius: 2px !important;
}

body {
  font-family: Segoe, sans-serif !important;
  font-size: 13px !important;
}

/* navigator-toolbox */

/* navigator-toolbox remobe border bottom */
#navigator-toolbox {
  border: none !important;
}

#navigator-toolbox-background {
  background: var(--shade1) !important;
}

#titlebar, #PersonalToolbar {
  background: var(--shade1) !important;
}

/* titlebar */

/* titlebar hide elements  */
#titlebar #alltabs-button,
#titlebar #firefox-view-button,
#titlebar .titlebar-spacer,
#titlebar .titlebar-buttonbox-container {
	display: none !important;
}

#titlebar #tabs-newtab-button {
  opacity: 0 !important;
  transition: all .2s;
}

#titlebar:hover #tabs-newtab-button {
  opacity: 1 !important;
}

/* nav-bar */

/* nav-bar hide elements */
#nav-bar #identity-box,
#nav-bar #identity-permission-box,
#nav-bar #tracking-protection-icon-container {
  display: none !important;
}

#nav-bar #back-button, 
#nav-bar #forward-button,
#nav-bar #nav-bar-overflow-button,
#nav-bar #reader-mode-button,
#nav-bar #star-button,
#nav-bar #unified-extensions-button,
#nav-bar #PanelUI-menu-button,
#nav-bar .webextension-browser-action {
  opacity: 0 !important;
  transition: all .2s;
}

/* nav-bar show elements on hover */
#nav-bar:hover #back-button, 
#nav-bar:hover #forward-button,
#nav-bar:hover #nav-bar-overflow-button,
#nav-bar:hover #reader-mode-button,
#nav-bar:hover #star-button,
#nav-bar:hover #unified-extensions-button,
#nav-bar:hover #PanelUI-menu-button,
#nav-bar:hover .webextension-browser-action {
  opacity: 1 !important;
}

#nav-bar {
  background: var(--shade4) !important;
  box-shadow: none !important;
}

/* tabs */
#TabsToolbar,
.tabbrowser-tab {
  height: 32px !important;
}

/* tabs remove padding */
.tabbrowser-tab {
  padding: 0 !important;
}

/* tabs color */
.tabbrowser-tab .tab-content {
  color: var(--shade3) !important;
}

:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton,toolbarpaletteitem) + #tabbrowser-tabs {
  border-inline-start: none !important;
  padding-inline-start: 0 !important;
  margin-inline-start: 0 !important;
}

/* tab hide favicons */
.tabbrowser-tab .tab-icon-stack {
  filter: grayscale(50%) !important;
  transition: all .2s;
}

/* tab show favicons on hover */
.tabbrowser-tab[visuallyselected="true"] .tab-icon-stack,
.tabbrowser-tab:hover .tab-icon-stack {
  filter: grayscale(0) !important;
}

/* tab hover background */
.tabbrowser-tab:hover .tab-background {
  background: var(--shade4) !important;
  transition: all .05s !important;
}

/* tab active background */
.tabbrowser-tab[visuallyselected="true"] .tab-background {
  background: var(--shade4) !important;
}

/* tab hover color */
.tabbrowser-tab:hover .tab-content {
  color: var(--shade5) !important;
}

/* tab active color - 25% light shade7 */
.tabbrowser-tab[visuallyselected="true"] .tab-content {
  color: #c4cbd8 !important;
}

/* tab hide icon close */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  opacity: 0 !important;
  color: var(--shade5) !important;
  transition: all .2s !imporntat;
}

/* tab show close on hover */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1 !important;
}

/* tab new tab button */
#tabs-newtab-button .toolbarbutton-icon {
  fill: var(--shade3) !important;
}

/* tab new tab button on hover */
#tabs-newtab-button:hover .toolbarbutton-icon {
  background: var(--shade4) !important;
  fill: var(--shade7) !important;
}

/* bookmarks toolbar */
#PlacesToolbar {
  background: var(--shade4);
}

/* urlbar */

/* urlbar remove outline and box-shadow of children */
#urlbar, #urlbar * {
  outline: none !important;
  box-shadow: none !important;
}

/* urlbar height and padding */
#urlbar {
  min-height: 20px !important;
  padding-left: 8px !important;
}

/* urlbar add transition when hover */
#urlbar #urlbar-background {
  background: var(--shade1) !important;
  border: none !important;
  transition: all .2s !important;
}

/* urlbar remove background if not focus */
#urlbar:not([focused]) #urlbar-background {
  background: none !important;
}

/* urlbar change background on focus */
#urlbar:hover #urlbar-background,
#urlbar[focused] #urlbar-background {
  background: var(--shade1) !important;
}

/* urlbar show border when active */
#urlbar[breakout] #urlbar-background,
#urlbar[breakout][breakout-extend] #urlbar-background {
  border: 1px solid var(--shade4) !important;
}

/* urlbar selection color when window active */
#urlbar[breakout][breakout-extend] ::selection {
  background: var(--accent5);
  color: var(--shade0);
}

/* urlbar selection color when window inactive */
#urlbar ::selection {
  background: transparent;
  color: var(--shade7);
}

/* urlbar font-size url */
#urlbar .urlbarView-url {
  font-size: inherit !important;
}

/* urlbar item list */
#urlbar .urlbarView-row {
  border-radius: 2px;
  transition: all .1s !important;
}

/* urlbar item list on hover */
#urlbar .urlbarView-row:hover {
  background: var(--shade2) !important;
}

/* urlbar item list url */
#urlbar .urlbarView-url {
  color: var(--shade5) !important;
}

/* hide search end site list */
#urlbar .search-one-offs:not([hidden]) {
  display: none !important;
}

/* change color bookmarks icon */
#urlbar-container #star-button[starred] {
 fill: var(--shade3) !important;
}

/* bookmarks */
#personal-toolbar-empty-description,
#PersonalToolbar .toolbarbutton-1,
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin: 2px 4px 4px 4px !important;
  padding: 4px 8px !important;
}

#appMenu-popup[panelopen] {
  border-color: red !important;
}

/* appMenu-popup */
#appMenu-popup .panel-viewcontainer[panelopen] {
  background: var(--shade1) !important;
}

/* appMenu-popup item */
#appMenu-popup .subviewbutton {
  transition: all .1s !important;
}

/* appMenu-popup item on hover */
#appMenu-popup .subviewbutton:hover {
  background: var(--shade2) !important;
}
